# Ignore Gradle project-specific cache directory
.gradle
.idea
transliteration
utilities
conjugation
dictionary
cedLibrariesForWindows
scriptHold
grammar
dump.sql.gz
dateTime
deconstructor
backup
backup/.DS_Store
backup/dump.sql
backup/dump.sql.gz
reactCED
grails-react-starter
grooscript
startbuild.sh
grooscript
grooscript-plugins