\\subsection{Dialog - }
\\begin{tabular}{p{2cm} p{11cm}}
<% dialogs.each { %>
    ${it.nameTranslit.trim()}:<% if (showPhonetic) { %>\\newline \\textcolor{red}{${it.name}}:<% } %> & ${it.dialogTranslit}\\newline<% if (showPhonetic) { %> \\textcolor{red}{${it.dialog}}<% } %>\\\\
<% } %>
\\end{tabular}
\\\\
\\\\
\\\\
\\noindent\\begin{tabular}{p{2cm} p{11cm}}
<% dialogs.each { %>
    ${it.engName}: & ${it.engDialog}\\\\
<% } %>
\\end{tabular}
